@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}
.btn:hover{
  background-color: #e3d8d8;
  color: #1e6dc9;
}
@layer base {
    /* ////////////////////////services part//////////////// */
    .servicesimg{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 240px;
    }
    @media (min-width:727px) {
        .first{
            height: 400px;
        }
        .secound{
            height: 450px;
        }
        .third{
            height: 500px;
        }
    }
    @media (max-width:728px) {
        .first,.secound,.third{
            height: 400px;
        }
    }

    /* //////////////////number part///////////////////////// */
    .sky{
        background-color:theme('colors.main');
        color: white;
    }
    .white{
        background-color:white;
        color: theme('colors.alter');
    }
    .blue{
        background-color: theme('colors.alter');
        color: theme('colors.main');
        border-top:1px solid theme('colors.main')
    }
    


}
@media  (max-width :1026px) {
    .home_title{
      font-size: 40px;
    }
    .home_grid{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    .home_photo{
      height: 300px;
      width: 350px;
    }
    .btn{
      padding: 10px;
    }
  }
  @media (max-width : 655px) {
    .test_sec{
      grid-template-columns: repeat(1, 1fr);
      padding-top: 2px;
    }
    .title_test{
      font-size: 18px;
      padding-top: 3px;
    }
    .high_test{
      font-size: 18px;
      padding-top: 2px;
    }
    .title_why{
      font-size: 33px;
    }
    .why_content{
      font-size: 17px;
      margin-left: 10px;
    }
    .why_dist{
      margin-left: 3px;  
    }
  }